.login {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    background: linear-gradient(to right, #243B55, #141E30); /* Fond pour un look moderne */
}

.item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 400px; /* Limite la largeur */
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

input {
    padding: 15px;
    border: none;
    outline: none;
    width: 100%;
    background-color: rgba(17, 25, 40, 0.6);
    color: white;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    background-color: #1f8ef1;
    color: white;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;

    &:disabled{
        cursor: not-allowed;
        background-color:#1f8ff19c ;
    }
}

.separator {
    width: 2px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.2);
}

.upload-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.avatar-preview {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #1f8ef1;
}

.upload-label {
    font-size: 14px;
    color: #1f8ef1;
    cursor: pointer;
    text-decoration: underline;
}
